:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  --Transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
  --background-headings-buttons: hsl(0, 0%, 95%);
}

body {
  min-height: 100vh;
  background-color: var(--background-headings-buttons);
  font-family: "Big Shoulders Display", "cursive";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

h2 {
  font-size: 2.5rem;
  color: var(--background-headings-buttons);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.content {
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
}

.card {
  width: 200px;
  padding: 50px;
}
.card_descrption {
  color: var(--Transparent-white-paragraphs);
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.5;
}
.sedan {
  background-color: var(--Bright-orange);
  border-radius: 10px 0 0 10px;
}
.suvs {
  background-color: var(--Dark-cyan);
}
.luxury {
  background-color: var(--Very-dark-cyan);
  border-radius: 0px 10px 10px 0px;
}

.button_card {
  width: 140px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  top: 15%;
  border: none;
  cursor: pointer;
  transform: all 1s;
}

.button_card:active {
  border: 4px solid var(--background-headings-buttons);
  color: var(--background-headings-buttons);
}
.button_orange {
  color: var(--Bright-orange);
}
.button_orange:active {
  background-color: var(--Bright-orange);
}

.button_cyan {
  color: var(--Dark-cyan);
}
.button_cyan:active {
  background-color: var(--Dark-cyan);
}

.button_dark-cyan {
  color: var(--Very-dark-cyan);
}
.button_dark-cyan:active {
  background-color: var(--Very-dark-cyan);
}

@media (max-width: 930px) {
  .content {
    width: 350px;
    height: 1500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button_card {
    top: 5%;
  }

  .sedan {
    background-color: var(--Bright-orange);
    border-radius: 10px 10px 0 0px;
  }

  .luxury {
    background-color: var(--Very-dark-cyan);
    border-radius: 0px 0px 10px 10px;
  }
}
